<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Bienvenue sur BoVoyages</h1>
                <h3 style="color: #ae9f6a;">Venez voir toutes nos plus belles destinations</h3>
                <h5 class="lead mb-0" ><a routerLink="/voyages" style="color: #ae9f6a;">Voir toutes les destinations</a><br></h5>
            </div>
        </div>
    </div>
</header>