<div class="container py-5" style="margin-top:5%;">
    <!-- For Demo Purpose -->
    <header class="text-center">
        <h2 class="display-8 font-weight-bold">Nos destinations</h2>
        <h5 class="font-italic text-muted mb-0">Idées de vacances et destinations populaires</h5>
    </header>

   

    <!-- VOYAGE -->
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Consulter nos voyages</h3>
        <p class="font-italic text-muted mb-4">Idées de séjours, vacances ...</p>
    
     <!-- BAR DE RECHERCHE -->

     <!-- <select id="boot-multiselect-demo" multiple="multiple">
            <option value="jQuery">jQuery Tutorials</option>
            <option value="Bootstrap">Bootstrap Framework</option>
            <option value="HTML">HTML</option>
            <option value="CSS" >CSS</option>
            <option value="Angular">Angular</option>
            <option value="Angular">javascript</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="MySQL">MySQL</option>
            <option value="Oracle">Oracle</option>
    </select> -->
    
        <!-- / -->

        <div class="row">
            <!-- IMAGE-->
            <div *ngFor="let dateVoyage of datesVoyages; let i = index;" class="col-lg-6 mb-3 mb-lg-0 separation">
                <div  class="hover hover-1 text-white rounded">
                    <a [routerLink]="['/destination-details', dateVoyage.fk_destination]" style="color: #fafafa;">
                        <!-- <a [routerLink]="[]" style="color:  #fafafa;"> -->
                    
                    <!-- <img *ngIf="dateVoyage.imageURL" [src]="'http://127.0.0.1:8081/'+ dateVoyage.imageURL"> -->
                    <!-- <img *ngIf="!dateVoyage.imageURL" src="http://127.0.0.1:8081/default-image.png"> -->
                    <img *ngIf="dateVoyage.imageURL" [src]="'http://192.168.1.46:8080/'+ dateVoyage.imageURL">
                    <img *ngIf="!dateVoyage.imageURL" src="http://192.168.1.46:8080/default-image.png">
                        <div class="hover-overlay"></div>
                        <div class="hover-1-content px-5 py-4">
                            <h3 class="hover-1-title text-uppercase font-weight-bold mb-0" style="text-shadow: 1px 1px 1px #424242"> <span
                                    class="font-weight-light"> Destination </span>{{dateVoyage.nmDestination}}</h3>
                            <p style="text-shadow: 1px 1px 1px #424242;" class="hover-1-description font-weight-light mb-0">Trouvez vite nos voyages à partir de : {{dateVoyage.tarifUnitaireHT}} € !</p>
                        </div>
                    </a>
                    </div>
                
            </div>
            <!-- DEMO 1 Item-->
            <div class="col-lg-6">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

</div>