<div class="container py-5" style="margin-top:5%;">
    <!-- For Demo Purpose -->
    <header class="text-center">
        <h2 class="display-8 font-weight-bold">Nos destinations</h2>
        <h5 class="font-italic text-muted mb-0">Idées de vacances et destinations populaires</h5>
    </header>


    <!-- DEMO 1 -->
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Demo 1</h3>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="row">
            <!-- DEMO 1 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786261/hoverSet-3_usk5ml.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 1 Item-->
            <div class="col-lg-6">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DEMO 1 -->
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Demo 1</h3>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="row">
            <!-- DEMO 1 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786261/hoverSet-3_usk5ml.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 1 Item-->
            <div class="col-lg-6">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DEMO 1 -->
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Demo 1</h3>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="row">
            <!-- DEMO 1 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786261/hoverSet-3_usk5ml.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 1 Item-->
            <div class="col-lg-6">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DEMO 1 -->
    <div class="py-5">
        <h3 class="font-weight-bold mb-0">Demo 1</h3>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <div class="row">
            <!-- DEMO 1 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786261/hoverSet-3_usk5ml.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 1 Item-->
            <div class="col-lg-6">
                <div class="hover hover-1 text-white rounded"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1570786257/hoverSet-4_fbtjks.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-1-content px-5 py-4">
                        <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>