<br>
<br>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>region</th>
            <th>dateAller</th>
            <th>dateRetour</th>
            <th>prixTotalHT</th>
            <th>detail du voyage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let voyage of voyages; let i = index;">
            <td>{{i+1}}</td>
            <td>{{voyage?.region}}</td>
            <td>{{voyage?.dateVoyage.dateAller | date : 'short'}}</td>
            <td>{{voyage?.dateVoyage.dateRetour | date : 'short'}}</td>
            <td>{{voyage?.prixTotalHT}}€</td>
            <td><a class="btn btn-primary btn-lg btn-block" [routerLink]="['/voyages-commandes-detail', voyage?.id]">Modifier</a></td>
        </tr>
    </tbody>
</table>