<br><br><br>
<div class="login-form">
    <form #f="ngForm" (ngSubmit)="login(f)">
        <div class="avatar">
            <img [src]="'assets/avatar.png'" alt="avatar" />
        </div>
        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="nom" ngModel placeholder="Nom"
                #nom="ngModel" required minlength="3">
            <div *ngIf="nom.invalid && (nom.touched || nom.dirty)">
                <p *ngIf="nom.errors.required" class="text-center invalid">
                Username is required
                </p>
                <p *ngIf="nom.errors.minlength" class="text-center invalid">
                    min length is 3
                </p>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" ngModel placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </div>
        <p *ngIf="error">{{error}}</p>
        <div class="clearfix text-center">
            <a [routerLink]="['/signup']">Créer un compte</a>
        </div>
    </form>
</div>