<!-- <div class="container">
    <form class="form-inline">
        <label for="email" class="mr-sm-2">Nom d'utilisateur : </label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="text">
        <label for="pwd" class="mr-sm-2">Password : </label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="pwd">
        <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="onLogIn()" *ngIf="!isAuth">Submit</button>
    </form>
</div> -->
<div class="login-form">
    <form #f="ngForm" (ngSubmit)="login(f)">
        <div class="avatar">
            <img [src]="'assets/avatar.png'" alt="avatar" />
        </div>
        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <input type="text" class="form-control" name="nom" ngModel placeholder="Nom"
                #nom="ngModel" required minlength="3">
            <div *ngIf="nom.invalid && (nom.touched || nom.dirty)">
                <p *ngIf="nom.errors.required" class="text-center invalid">
                Username is required
                </p>
                <p *ngIf="nom.errors.minlength" class="text-center invalid">
                    min length is 3
                </p>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" ngModel placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </div>
        <p *ngIf="error">{{error}}</p>
        <div class="clearfix text-center">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
        </div>
    </form>
</div>